html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#background {
    background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

#inputContainer {
    width: 100%;
    /*padding: 45px;*/
    padding-top: 45px;
    float: left;
    border-right: 1px solid #999;
}

/*laki*/
@media screen and (max-width: 576px) {
    #inputContainer {
        border-right: transparent;
    }
}
/*laki*/

#inputContainer h2 {
    text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 70%;
    margin: auto;
}

#inputContainer label {
    color: white;
    font-size: 13px;
    margin-top: 15px;
    display: block;
    padding-left: 75px;
}

/*laki*/
@media screen and (max-width: 576px) {
    #inputContainer label {
        padding-left: 45px;
    }
}
/*laki*/

#inputContainer button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 50%;
}

#inputContainer button:hover {
    cursor: pointer;
}

.hasAccountText span {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
    text-align: center;
}

#registerForm,
#loginForm {
    display: none;
}

#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1 {
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

/*laki*/
@media screen and (max-width: 576px) {
    #loginText h1 {
        text-align: center;
        color: #07d159;
        font-size: 30px;
        font-weight: bold;
    }
}
/*laki*/

#loginText h2 {
    margin: 35px 0;
}

/*laki*/
@media screen and (max-width: 576px) {
    #loginText h2 {
        text-align: center;
        font-size: 15px;
    }
}
/*laki*/

#inputContainer .errorMessage:not(:empty) {
    color: white;
    font-size: 15px;
    display: block;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 5px;
}